* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main {
  position: relative;
  top: 20px;

  height: 680px;
  width: 50%;

  margin: auto;
  padding: 20px;

  background: rgb(148, 187, 233);
  background: linear-gradient(
    90deg,
    rgba(148, 187, 233, 1) 4%,
    rgba(148, 187, 233, 1) 94%,
    rgba(255, 255, 255, 1) 100%
  );
}

h1 {
  padding-bottom: 1vw;
}

input {
  border: none;

  height: 40px;
  margin: 10px;

  padding: 5px 10px;
}

.address,
.email,
.fileupload-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fileselect {
  height: 5vw;
  width: 50%;
}

.fileselect_data {
  padding: 10px;
}

button {
  position: absolute;
  border: none;
  outline: none;

  margin-top: 2vw;

  width: 80px;
  height: 30px;
}

button:hover {
  background-color: slategrey;
  color: white;
}

#street,
#email {
  width: 40vw;
}

#city,
#state,
#postalcode,
#firstname,
#lastname {
  width: 19.5vw;
}

.btn-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.btn {
  font-weight: 600;
}

label {
  padding-left: 10px;
}
